<%= form_for @recipe do |f| %>

    <%= f.label :title, "Recipe Title:" %>
    <%= f.text_field :title %><br>
    <br>
    <%= f.fields_for :ingredients do |ingredient| %>
        <ul>
            <li>
                <%= ingredient.label :name, "Ingredient" %>
                <%= ingredient.text_field :name %><br>

                <%= ingredient.label :quantity %>
                <%= ingredient.text_field :quantity %><br>
            </li>
        </ul>
    <% end %>
    <br>
    <%= f.submit %>
<% end %>
